@import "tailwindcss";



@font-face {
  font-family: 'Gafiya';
  src: url('/font/Gafiya-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main-text {
  font-family: 'Gafiya', Arial, sans-serif;
}
/* * {
  font-family: 'Gafiya', Arial, sans-serif;
} */
/* .p-font-style{
  font-family:;
} */

html {
  scroll-behavior: smooth;
}

.primary-color {
  color: #F5BC6D;
}
.secondary-color {
  color: blue;
}
.heading-font{
  font-family: 'Gafiya', Arial, sans-serif;
}
.paragraph-font{
  font-family: 'serif';
}
.primary-background-color {
  background-color: #ffffff;
}